.edit-button {
  background: url(../../images/Edit_Button.svg) no-repeat right top;
  width: 24px;
  height: 24px;
  padding-left: 17px;
  padding-bottom: 10px;
  display: inline-block;
}

.edit-button:hover {
  opacity: .6;
  transition: opacity .5s linear;
  cursor: pointer;
}

@media screen and (max-width: 850px) and (min-width: 320px) {
  .edit-button {
    padding-left: 1px;
  }
}


