.popup__submit-button {
  background-color: black;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  border: none;
  padding: 0;
  border-radius: 2px;
  margin-top: 40px;
  margin-bottom: 35px;
  cursor: pointer;
  transition: opacity .5s linear;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 530px) {
  .popup__submit-button {
    width: 70vw;
  }
}

@media screen and (max-width: 419px) {
  .popup__submit-button {
    margin-top: 20px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .popup__submit-button {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 14px;
    box-sizing: border-box;
  }
}