/*.add-button {
  width: 24px;
  height: 24px;
}


@media screen and (max-width: 767px) and (min-width: 320px) {
  .add-button {
    border: 2px solid #FFFFFF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 134px;
    padding-right: 132px;
    border-radius: 2px;
  }
} */

.add-button {
  background: url(../../images/Add_Button.svg) no-repeat right center;
  width: 150px;
  height: 50px;
  display: inline-block;
  position: absolute;
  bottom: 35px;
  right: 0;
}

.add-button:hover {
  opacity: .6;
  transition: opacity .5s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .add-button {
    background: url(../../images/add_button_320.svg) no-repeat center bottom;
    width: 282px;
    height: 50px;
    display: block;
    position: static;
    margin: 0 auto;
    padding-top: 36px;
  }
}