.popup__close-button {
  background: url(../../../images/Close_Icon.svg) center center;
  position: absolute;
  top: -38px;
  right: -38px;
  width: 40px;
  height: 40px;
  border: none;
  transition: opacity .5s linear;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: .6;
}

.popup__close-button:active {
  outline: none;
}

.popup__close-button:focus {
  outline: none;
}


@media screen and (max-width: 530px) {
  .popup__close-button {
    top: -22px;
    right: -22px;
    width: 20px;
    height: 20px;
  }
}